.tag {
    margin:0.1rem ;
    padding: none;
    width: auto;
    height: auto;
    font-size: 0.5rem;
    letter-spacing: 0.2rem;
    color: #f4f4f4f4;
    background-color:#81888c;
}

#icon{
    display: inline;
     font-size: 0.8rem;
     padding-right:0.1rem;
}
