<div class="bimcontent">
  <h1>TowelRail Heated RadiantHeating Round Single</h1>
  <app-tags></app-tags>
<p>Single Towel Rail collection is the perfect way to add the finishing touch to any bathroom, giving the flexibility of using multiple rails, whilst this minimalist look will create a stunning statement. 
  Designed to be placed in banks of 3, 4 or 5 for best effect when heated.</p>
<card></card>
<app-table></app-table>
<brand-box></brand-box>
<slider></slider>
<app-model-viewer></app-model-viewer>
<app-download-button></app-download-button>

</div>

